# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
- group: AzureKeyVault

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- bash: |
    source /usr/share/miniconda/etc/profile.d/conda.sh
    which conda
    # conda env create -f environment.yml
    # conda env list
    # conda activate MLAKSDeployAML
    # conda env list  
  displayName: 'Conda install dependencies'

- bash: |
    az login -t $(sptenent) --service-principal -u $(spidentity) --password $(spsecret)

    # conda activate MLAKSDeployAML
    # conda env list  
  displayName: 'Conda install dependencies'
